{% load widget_tweaks %}

{% load custom_filters %}

{{ form.media }}

<script type="text/javascript">

    $(function() {
        carregar_alarmes();
    });

    function carregar_alarmes() {
        {% if tarefa %}
            var url = '{% url 'lista_alarmes' tarefa.id %}';
            $.ajax({
                url: url
            }).done(function(data) {
                if(data.status == 200) {
                    $('#alarmes').html(data.content);
                }
            });
        {% endif %}
    }

    function salvarNovaTarefa() {
        var dados = $('#form-nova-tarefa').serialize();
        var url = '{% url 'cadastro_de_tarefa' %}';
        var modalCadastro = $('#modal');

        $.ajax({
            url: url,
            data: dados,
            method: 'POST'
        }).done(function(data) {
            if(data.status == 302) {
                carregar_lista_padrao();
                modalCadastro.modal('hide');
            }else {
                modalCadastro.html(data.content);
            }
        });
    }

    function salvarTarefa() {
        {% if tarefa %}
            var url = '{% url 'edicao_de_tarefa' tarefa.id %}';
        {% else %}
            var url = '{% url 'cadastro_de_tarefa' %}';
        {% endif %}
        var dados = $('#form-nova-tarefa').serialize();
        var modalCadastro = $('#modal');

        $.ajax({
            url: url,
            data: dados,
            method: 'POST'
        }).done(function(data) {
            if(data.status == 302) {
                carregar_lista_padrao();
                modalCadastro.modal('hide');
            }else {
                modalCadastro.html(data.content);
            }
        });
    }
</script>

<form id="form-nova-tarefa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nova tarefa</h4>
            </div>
            <div class="modal-body">

                {{ form.non_field_errors|safe }}

                <div class="form-group">
                    <label for="{{ form.titulo.label }}">{{ form.titulo.label }}</label>
                    {{ form.titulo|add_class:"form-control" }}
                    {{ form.titulo.errors|safe }}
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.descricao.label }}">{{ form.descricao.label }}</label>
                            {{ form.descricao|add_class:"form-control" }}
                            {{ form.descricao.errors|safe }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.vencimento.label }}">{{ form.vencimento.label }}</label>
                            {{ form.vencimento|add_class:"form-control" }}
                            {{ form.vencimento.errors|safe }}
                        </div>
                        <div id="alarmes">

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                {% if tarefa %}
                <button type="button" class="btn btn-primary" onclick="salvarTarefa()">Salvar</button>
                {% else %}
                <button type="button" class="btn btn-primary" onclick="salvarNovaTarefa()">Criar</button>
                {% endif %}

            </div>
        </div>
    </div>
</form>

<div id="form-novo-alarme" style="display: none">
    <h5>Novo alarme</h5>
    <form>
        {{ form.horario }}
        <button type="button" onclick="SalvarNovoAlarme()" class="btn btn-sm btn-primary pull-right">Salvar</button>
        <button type="button" onclick="CancelarNovoAlarme()" class="btn btn-sm btn-default pull-right">Cancelar</button>
    </form>
</div>
