<script type="text/javascript">
    function excluir_grupo(id_grupo) {
        var url = '{% url 'exclusao_grupo' %}';
        var modalEdicaoGrupo = $('#modal');
        var modalConfirmacaoExclusaoGrupo = $('#modal2');
        var data = {
            'id_grupo': id_grupo
        };

        $.ajax({
            url: url,
            data: data,
            method: 'POST'
        }).done(function(data) {
            if(data.status == 302) {
                carregar_lista_padrao();
                carregar_lista_de_grupos();
                modalConfirmacaoExclusaoGrupo.modal('hide');
                modalEdicaoGrupo.modal('hide');
                $('#modo-edicao-grupo-button').click();
            }
        });
    }
</script>

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirmar exclusão?</h4>
        </div>

        <div class="modal-body">
            <p>Tem certeza que deseja exluir o grupo?</p>
            <p class="text-muted">{{ tarefa.titulo }}</p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-default btn-danger" onclick="excluir_grupo({{ grupo.id }})">Excluir</button>
        </div>

    </div>
</div>
