{% for grupo in grupos %}

    {% if forloop.first %}
        <div class="list-group">
            <a href="javascript:alterar_grupo_selecionado(0)" class="list-group-item {% if id_grupo_selecionado == 0 %}active{% endif %}">
                <span class="badge">{{ total_pendentes }}</span>
                Todas
            </a>
    {% endif %}

    <a href="javascript:alterar_grupo_selecionado({{ grupo.id }})" class="list-group-item {% if id_grupo_selecionado == grupo.id %}active{% endif %}">
        <span class="badge">{{ grupo.quantidade_pendentes }}</span>
        {{ grupo.nome }}
    </a>

    {% if forloop.last %}
        </div>
    {% endif %}

{% endfor %}
