{% load widget_tweaks %}

{% load custom_filters %}

<script type="text/javascript">
    function salvarNovaTarefa() {
        var dados = $('#form-nova-tarefa').serialize();
        var url = '{% url 'cadastro_jobs' %}';
        $.ajax({
            url: url,
            data: dados,
            method: 'POST'
        }).done(function(data) {
            if(data.status == 302) {
                document.location.href = data.content;
            }else {
                var modalCadastro = $('#modal');
                modalCadastro.html(data.content);
            }
        });
    }

    function editarTarefa(id_tarefa) {
        var dados = $('#form-nova-tarefa').serialize();

        var url = '{% url 'editar_jobs' 0 %}';
        url = url.replace('/0/', '/' + id_tarefa + '/');

        $.ajax({
            url: url,
            data: dados,
            method: 'POST'
        }).done(function(data) {
            if(data.status == 302) {
                document.location.href = data.content;
            }else {
                var modalCadastro = $('#modal');
                modalCadastro.html(data.content);
            }
        });
    }
</script>

<form id="form-nova-tarefa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nova tarefa</h4>
            </div>
            <div class="modal-body">

                {{ form.non_field_errors|safe }}

                <div class="form-group">
                    <label for="{{ form.titulo.label }}">{{ form.titulo.label }}</label>
                    {{ form.titulo|add_class:"form-control" }}
                    {{ form.titulo.errors|safe }}
                </div>

                <div class="form-group">
                    <label for="{{ form.descricao.label }}">{{ form.descricao.label }}</label>
                    {{ form.descricao|add_class:"form-control" }}
                    {{ form.descricao.errors|safe }}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                {% if tarefa %}
                <button type="button" class="btn btn-primary" onclick="editarTarefa({{ tarefa.id }})">Salvar</button>
                {% else %}
                <button type="button" class="btn btn-primary" onclick="salvarNovaTarefa()">Criar</button>
                {% endif %}

            </div>
        </div>
    </div>
</form>
