{% extends 'template_geral.html' %}

{% block js %}
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}JobsList{% endblock %}

{% block conteudo %}

    <section id="home">
        <div class="home-overlay"></div>
        <div class="home-content">
            <h1>JobsList</h1>
            <a class="btn btn-lg btn-primary" href="{% url 'cadastro' %}">Não possuo cadastro</a>
            <a class="btn btn-lg btn-success" href="{% url 'login' %}">Efetuar Login</a>
        </div>
    </section>

{% endblock %}
