{% extends 'template_geral.html' %}

{% block js %}
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}JobsList{% endblock %}

{% block conteudo %}

    <section id="home">
        <div class="home-overlay"></div>
        <div class="home-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>JobsList</h1>
                    <a class="btn btn-lg btn-primary" href="{% url 'cadastro' %}">Não possuo cadastro</a>
                    <a class="btn btn-lg btn-success" href="{% url 'login' %}">Efetuar Login</a>


                        <blockquote>
                            <h3>Aluno: <strong>Ricardo Gehrke Filho</strong></h3>
                            <h4>Professora: <strong>Marcela Leite</strong></h4>
                            <p>Desenvolvimento de aplicações para Web - OTES02</p>
                            <p>UDESC - CCT
                                <a href="http://www.cct.udesc.br/" target="_blank">
                                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                                </a>
                            </p>
                        </blockquote>

                </div>
            </div>

        </div>
    </section>

{% endblock %}
