{% extends "template_geral_interno.html" %}

{% block js %}
    <script type="text/javascript">
        function modal_nova_tarefa() {
            var url = '{% url 'cadastro_jobs' %}';
            $.ajax({
                url: url
            }).done(function(data) {
                var modalCadastro = $('#modal');
                modalCadastro.html(data.content);
                modalCadastro.modal('show');
            });
        }

        function modal_editar_tarefa(id_tarefa) {
            var url = '{% url 'editar_jobs' 0 %}';
            url = url.replace('/0/', '/' + id_tarefa + '/');

            $.ajax({
                url: url
            }).done(function(data) {
                var modalCadastro = $('#modal');
                modalCadastro.html(data.content);
                modalCadastro.modal('show');
            });
        }

        function modal_excluir_tarefa(id_tarefa) {
            var url = '{% url 'confirmacao_exclusao_tarefa' %}';
            var data = {
                'id_tarefa': id_tarefa
            };
            $.ajax({
                url: url,
                data: data,
            }).done(function(data) {
                var modalConfirmacaoExclusaoTarefa = $('#modal');
                modalConfirmacaoExclusaoTarefa.html(data.content);
                modalConfirmacaoExclusaoTarefa.modal('show');
            });
        }
    </script>
{% endblock %}

{% block conteudo_interno %}
    <div class="row">
        <div class="col-md-12">
            <div id="tarefas">
                {% for tarefa in tarefas %}

                    {% if forloop.first %}
                        <div class="list-group">
                    {% endif %}

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="list-group-item-heading">{{ tarefa.titulo }}</h4>
                                <p class="list-group-item-text">9 de maio de 2015</p>
                            </div>
                            <div class="col-md-2 tarefas-actions">
                                <button type="button" class="btn btn-default pull-right" aria-label="Excluir" onclick="modal_excluir_tarefa({{ tarefa.id }})">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>

                                <button type="button" class="btn btn-default pull-right" aria-label="Editar" onclick="modal_editar_tarefa({{ tarefa.id }})">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>

                    </div>

                    {% if forloop.last %}
                        </div>
                    {% endif %}

                    {% empty %}

                    <div id="sem-tarefas" class="text-center">
                        <h1>
                            <span class="glyphicon glyphicon-pawn text-danger" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-knight text-warning" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-queen text-primary" aria-hidden="true"></span>
                        </h1>

                        <h3 class="text-muted">Você não possui tarefas (:</h3>

                        <button class="btn btn-lg btn-primary" onclick="modal_nova_tarefa()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Cria nova tarefa
                        </button>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">

    </div>
{% endblock %}
