{% for grupo in grupos %}

    {% if forloop.first %}
        <a id="botao-grupo-id-todos" href="javascript:mostrar_todos_os_grupos(0)" class="list-group-item active">
            Todos
        </a>
        <div class="list-group">
            <a id="botao-grupo-id-0" href="javascript:alterar_visibilidade_do_grupo(0)" class="list-group-item">
                Sem Grupo
            </a>
    {% endif %}

    <a id="botao-grupo-id-{{ grupo.id }}" href="javascript:alterar_visibilidade_do_grupo({{ grupo.id }})" class="list-group-item">
        <span class="badge">{{ grupo.quantidade_pendentes }}</span>
        {{ grupo.nome }}
    </a>

    {% if forloop.last %}
        </div>
    {% endif %}

{% endfor %}