{% extends "template_geral_interno.html" %}

{% load staticfiles %}

{% block title %}Tarefas{% if user.first_name %} de {{ user.first_name }}{% endif %}{% endblock %}

{% block js %}

    <script type="text/javascript">

        $(function() {
            carregar_lista_de_grupos();
        });

        var lista_padrao = 'nao_vencidas';
        var grupo_id_selecionado = 0;

        function alterar_listagem_padrao(nova_lista_padrao) {
            $('#nav-menu').find('.active').removeClass('active');
            lista_padrao = nova_lista_padrao;
            carregar_lista_padrao();
        }

        function alterar_grupo_selecionado(novo_id_grupo_selecionado) {
            $('#lista-de-grupos').find('.active').removeClass('active');
           grupo_id_selecionado = novo_id_grupo_selecionado;
            carregar_lista_de_grupos(grupo_id_selecionado);
        }

        function carregar_lista_padrao() {
            if(lista_padrao == 'todas') {
                $('#menu-todas').addClass('active');
                carregar_lista_de_todas_as_tarefas();
            }
            else if(lista_padrao == 'nao_vencidas') {
                $('#menu-pendentes').addClass('active');
                carregar_lista_nao_vencidas();
            }
            else if(lista_padrao == 'hoje'){
                $('#menu-hoje').addClass('active');
                carregar_lista_para_hoje();
            }else if(lista_padrao == 'concluidas'){
                $('#menu-concluidas').addClass('active');
                carregar_lista_concluidas();
            }
        }

        function carregar_lista_de_grupos(grupo_id_selecionado) {
            var url ='{% url 'lista_de_grupos' %}';
            var div_lista_de_grupos = $('#lista-de-grupos');

            $.ajax({
               url: url,
                data: {
                    'grupo_id': grupo_id_selecionado
                }
            }).done(function(data) {
                div_lista_de_grupos.html(data.content);
                carregar_lista_padrao();
            });
        }

        function mostrar_loading_gif() {
            $('#loading-gif').show();
        }

        function esconder_loading_gif() {
            $('#loading-gif').hide();
        }

        function carregar_lista_de_tarefas_de_url(url) {
            var div_lista_de_tarefas = $('#lista-de-tarefas');
            div_lista_de_tarefas.html('');
            mostrar_loading_gif();

            $.ajax({
                url: url,
                data: {
                    'grupo_id': grupo_id_selecionado
                }
            }).done(function(data) {
                esconder_loading_gif();
                div_lista_de_tarefas.html(data.content);
            });
        }

        function carregar_lista_de_todas_as_tarefas() {
            var url = '{% url 'lista_de_todas_as_tarefas' %}';
            carregar_lista_de_tarefas_de_url(url);
        }

        function carregar_lista_nao_vencidas() {
            var url = '{% url 'lista_nao_vencidas' %}';
            carregar_lista_de_tarefas_de_url(url);
        }

        function carregar_lista_para_hoje() {
            var url = '{% url 'lista_hoje' %}';
            carregar_lista_de_tarefas_de_url(url);
        }

        function carregar_lista_concluidas() {
            var url = '{% url 'lista_concluidas' %}';
            carregar_lista_de_tarefas_de_url(url);
        }



        function modal_nova_tarefa() {
            var url = '{% url 'cadastro_de_tarefa' %}';

            $.ajax({
                url: url
            }).done(function(data) {
                var modalCadastro = $('#modal');
                modalCadastro.html(data.content);
                modalCadastro.modal('show');
            });
        }

        function modal_editar_tarefa(id_tarefa) {
            var url = '{% url 'edicao_de_tarefa' 0 %}';
            url = url.replace('/0/', '/' + id_tarefa + '/');

            $.ajax({
                url: url
            }).done(function(data) {
                var modalCadastro = $('#modal');
                modalCadastro.html(data.content);
                modalCadastro.modal('show');
            });
        }

        function modal_excluir_tarefa(id_tarefa) {
            var url = '{% url 'confirmacao_exclusao_tarefa' %}';
            var modalConfirmacaoExclusaoTarefa = $('#modal');
            var data = { 'id_tarefa': id_tarefa };

            $.ajax({
                url: url,
                data: data
            }).done(function(data) {
                modalConfirmacaoExclusaoTarefa.html(data.content);
                modalConfirmacaoExclusaoTarefa.modal('show');
            });
        }

        function marcar_concluida(btn) {
            var botao = $(btn);
            var div_tarefa = botao.closest('.list-group-item');
            var id = parseInt(div_tarefa.prop('id').substr(7));
            var concluida = div_tarefa.data('concluida') == 'True';
            var vencida = div_tarefa.data('vencida') == 'True';

            var marcar_como_concluida = true;
            if(concluida)
                marcar_como_concluida = false;

            var url = '{% url 'marcar_tarefa_concluida' %}';
            var data = {
                'tarefa_id': id,
                'concluida': marcar_como_concluida
            };

            $.ajax({
                url: url,
                method: 'GET',
                data: $.param(data),
                success: function() {
                    if(marcar_como_concluida) {
                        botao.addClass('btn-success').blur();
                        div_tarefa.data('concluida', 'True');
                        if(div_tarefa.data('vencida') == 'True'){
                            div_tarefa.removeClass('list-group-item-danger');
                        }
                        div_tarefa.addClass('list-group-item-success');
                    }else{
                        botao.removeClass('btn-success').blur();
                        div_tarefa.data('concluida', 'False');
                        if(div_tarefa.data('vencida') == 'True'){
                            div_tarefa.addClass('list-group-item-danger');
                        }
                        div_tarefa.removeClass('list-group-item-success');
                    }
                }
            });
        }
    </script>
{% endblock %}

{% block conteudo_interno %}
    <div id="tarefas">
        <div class="row">

            <div id="lista-de-grupos" class="col-md-4"></div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div id="loading-gif">
                            <img src="{% static 'imagens/loading.gif' %}">
                        </div>
                        <div id="lista-de-tarefas">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">

    </div>
{% endblock %}
