{% extends "template_geral_interno.html" %}

{% load staticfiles %}

{% block title %}Tarefas{% if user.first_name %} de {{ user.first_name }}{% endif %}{% endblock %}

{% block js %}

    <script type="text/javascript">

        var grupos_ids = [];
        var filtro = 'nao_vencidas';
        var ordenacao = 'vencimento';

        $(function() {
            carregar_lista_padrao();
            carregar_lista_de_grupos();
        });

        function alterar_listagem_padrao(novo_filtro) {
            $('#nav-menu').find('.active').removeClass('active');
            filtro = novo_filtro;
            carregar_lista_padrao();
        }

        var modoEdicarGrupo = false;
        function edicaoGrupos() {
            var buttonEdicao = $('#modo-edicao-grupo-button');
            var buttonNovoGrupo = $('#novo-grupo-buttton');

            if(modoEdicarGrupo == false) {
                modoEdicarGrupo = true;
                buttonNovoGrupo.hide();
                buttonEdicao.html('Concluir');
            } else {
                modoEdicarGrupo = false;
                buttonNovoGrupo.show();
                buttonEdicao.html('Editar grupos');
            }
        }

        function acaoClickGrupo(grupo_id) {
            var botao = $('#botao-grupo-id-' + grupo_id);

            if(modoEdicarGrupo == false) {
                if (botao.hasClass('active')) {
                    botao.removeClass('active');
                    var index = grupos_ids.indexOf(grupo_id);

                    if (index > -1) {
                        grupos_ids.splice(index, 1);
                    }
                } else {
                    botao.addClass('active');
                    grupos_ids.push(grupo_id);
                    var botao_todos = $('#botao-grupo-id-todos');
                    botao_todos.removeClass('active');
                }

                if (grupos_ids.length == 0)
                    mostrar_todos_os_grupos();
                else
                    carregar_lista_padrao();
            } else {
                modalEdicaoGrupo(grupo_id);
            }
        }

        function alterar_ordenacao(nova_ordenacao) {
            ordenacao = nova_ordenacao;
            var texto_menu = $('#texto-dropdown-ordenacao');
            switch (ordenacao) {
                case 'vencimento':
                        texto_menu.html('Data de vencimento')
                    break;
                case 'criacao':
                        texto_menu.html('Data de criação')
                    break;
                case 'titulo':
                        texto_menu.html('Título')
                    break;
            }
            carregar_lista_padrao();
        }

        function mostrar_todos_os_grupos() {
            var botao = $('#botao-grupo-id-todos');

            grupos_ids = [];
            $('#lista-de-grupos').find('.list-group-item').removeClass('active');
            botao.addClass('active');

            carregar_lista_padrao();
        }

        function carregar_lista_de_grupos() {
            var url = '{% url 'lista_grupos' %}';

            $.ajax({
                url: url
            }).done(function(data) {
                $('#lista-de-grupos').html(data.content);
            });
        }

        function carregar_lista_padrao() {
            if(filtro == 'todas') {
                $('#menu-todas').addClass('active');
                carregar_lista_de_todas_as_tarefas();
            }
            else if(filtro == 'nao_vencidas') {
                $('#menu-pendentes').addClass('active');
                carregar_lista_nao_vencidas();
            }
            else if(filtro == 'hoje'){
                $('#menu-hoje').addClass('active');
                carregar_lista_para_hoje();
            }else if(filtro == 'concluidas'){
                $('#menu-concluidas').addClass('active');
                carregar_lista_concluidas();
            }
        }

        function mostrar_loading_gif() {
            $('#loading-gif').show();
        }

        function esconder_loading_gif() {
            $('#loading-gif').hide();
        }

        function carregar_lista_de_tarefas_de_url(url) {
            var div_lista_de_tarefas = $('#lista-de-tarefas');
            div_lista_de_tarefas.html('');
            mostrar_loading_gif();

            var data = {
                'grupos_ids': grupos_ids,
                'ordenacao': ordenacao
            };

            $.ajax({
                url: url,
                data: data
            }).done(function(data) {
                esconder_loading_gif();
                div_lista_de_tarefas.html(data.content);
            });
        }

        function carregar_lista_de_todas_as_tarefas() {
            var url = '{% url 'lista_de_todas_as_tarefas' %}';
            carregar_lista_de_tarefas_de_url(url);
        }

        function carregar_lista_nao_vencidas() {
            var url = '{% url 'lista_nao_vencidas' %}';
            carregar_lista_de_tarefas_de_url(url);
        }

        function carregar_lista_para_hoje() {
            var url = '{% url 'lista_hoje' %}';
            carregar_lista_de_tarefas_de_url(url);
        }

        function carregar_lista_concluidas() {
            var url = '{% url 'lista_concluidas' %}';
            carregar_lista_de_tarefas_de_url(url);
        }

        function modal_nova_tarefa() {
            var url = '{% url 'cadastro_de_tarefa' %}';

            $.ajax({
                url: url
            }).done(function(data) {
                var modalCadastro = $('#modal');
                modalCadastro.html(data.content);
                modalCadastro.modal('show');
            });
        }

        function modal_editar_tarefa(id_tarefa) {
            var url = '{% url 'edicao_de_tarefa' 0 %}';
            url = url.replace('/0/', '/' + id_tarefa + '/');

            $.ajax({
                url: url
            }).done(function(data) {
                var modalCadastro = $('#modal');
                modalCadastro.html(data.content);
                modalCadastro.modal('show');
            });
        }

        function modal_excluir_tarefa(id_tarefa) {
            var url = '{% url 'confirmacao_exclusao_tarefa' %}';
            var modalConfirmacaoExclusaoTarefa = $('#modal');
            var data = { 'id_tarefa': id_tarefa };

            $.ajax({
                url: url,
                data: data
            }).done(function(data) {
                modalConfirmacaoExclusaoTarefa.html(data.content);
                modalConfirmacaoExclusaoTarefa.modal('show');
            });
        }

        function marcar_concluida(btn) {
            var botao = $(btn);
            var div_tarefa = botao.closest('.list-group-item');
            var id = parseInt(div_tarefa.prop('id').substr(7));
            var concluida = div_tarefa.data('concluida') == 'True';
            var vencida = div_tarefa.data('vencida') == 'True';

            var marcar_como_concluida = true;
            if(concluida)
                marcar_como_concluida = false;

            var url = '{% url 'marcar_tarefa_concluida' %}';
            var data = {
                'tarefa_id': id,
                'concluida': marcar_como_concluida
            };

            $.ajax({
                url: url,
                method: 'GET',
                data: $.param(data),
                success: function() {
                    if(marcar_como_concluida) {
                        botao.addClass('btn-success').blur();
                        div_tarefa.data('concluida', 'True');
                        if(div_tarefa.data('vencida') == 'True'){
                            div_tarefa.removeClass('list-group-item-danger');
                        }
                        div_tarefa.addClass('list-group-item-success');
                    }else{
                        botao.removeClass('btn-success').blur();
                        div_tarefa.data('concluida', 'False');
                        if(div_tarefa.data('vencida') == 'True'){
                            div_tarefa.addClass('list-group-item-danger');
                        }
                        div_tarefa.removeClass('list-group-item-success');
                    }
                }
            });
        }

        function modalNovoGrupo() {
            var modal = $('#modal');
            var url = '{% url 'cadastro_de_grupo' %}';
            $.ajax({
                url: url
            }).done(function(data) {
                modal.html(data.content);
                modal.modal('show');
            });
        }

        function modalEdicaoGrupo(id_grupo) {
            var modal = $('#modal');
            var url = '{% url 'edicao_de_grupo' 0 %}';
            url = url.replace('/0/', '/' + id_grupo + '/');

            $.ajax({
                url: url
            }).done(function(data) {
                modal.html(data.content);
                modal.modal('show');
            });
        }

        function salvarNovoGrupo() {
            var nome_novo_grupo = $('#nome-novo-grupo').val();
            $('#modal-novo-grupo').modal('hide');
            carregar_lista_padrao();
            carregar_lista_de_grupos();
        }
    </script>
{% endblock %}

{% block conteudo_interno %}
    <div id="tarefas">
        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Grupos</h3>
                    </div>
                    <div id="lista-de-grupos" class="panel-body">

                    </div>
                    <div id="novo-grupo-area">
                        <button id="novo-grupo-buttton" onclick="modalNovoGrupo()" class="btn btn-primary">Novo grupo</button>
                        <button id="modo-edicao-grupo-button" onclick="edicaoGrupos()" class="btn btn-default">Editar grupos</button>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div id="loading-gif">
                            <img src="{% static 'imagens/loading.gif' %}">
                        </div>
                        <div id="lista-de-tarefas">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div>
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div>

{% endblock %}
