{% for tarefa in tarefas %}

    {% if forloop.first %}
        <div class="list-group">
    {% endif %}

    <div class="list-group-item {% if tarefa.exibir_como_vencida %}list-group-item-danger{% endif %} {% if tarefa.concluida %}list-group-item-success{% endif %}" id="tarefa_{{ tarefa.id }}" data-concluida="{{ tarefa.concluida }}" data-vencida="{{ tarefa.vencida }}">
        <div class="row">

            <div class="col-md-9">
                <h4 class="list-group-item-heading" {% if not tarefa.vencimento %}style="margin-top: 10px" {% endif %}>
                    [{{ tarefa.grupo.nome|default:'Sem Grupo' }}] {{ tarefa.titulo }}
                </h4>

                {% if tarefa.vencimento %}
                <p class="list-group-item-text">
                    {% if tarefa.vencida %}
                        <strong><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ tarefa.vencimento }}</strong>
                    {% else %}
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ tarefa.vencimento }}
                    {% endif %}
                </p>
                {% endif %}
            </div>

            <div class="col-md-3 tarefas-actions">
                <button type="button" class="btn btn-default pull-right btn-concluida {% if tarefa.concluida %}btn-success{% endif %}" aria-label="Marcar como concluida" onclick="marcar_concluida(this)">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>

                <button type="button" class="btn btn-default pull-right" aria-label="Excluir" onclick="modal_excluir_tarefa({{ tarefa.id }})">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>

                <button type="button" class="btn btn-default pull-right" aria-label="Editar" onclick="modal_editar_tarefa({{ tarefa.id }})">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            </div>

        </div>

    </div>

    {% if forloop.last %}
        </div>
    {% endif %}

    {% empty %}

    <div id="sem-tarefas" class="text-center">
        <h1>
            <span class="glyphicon glyphicon-pawn text-danger" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-knight text-warning" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-queen text-primary" aria-hidden="true"></span>
        </h1>

        <h3 class="text-muted">Nenhuma tarefa</h3>

        <button class="btn btn-lg btn-primary" onclick="modal_nova_tarefa()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Cria nova tarefa
        </button>
    </div>

{% endfor %}
