{% extends 'template_geral.html' %}



{% block conteudo %}

    <div id="informacoes-usuario" class="text-muted text-right">
        {{ user.email }} - <a href="{% url 'logout' %}">Logout</a>
    </div>

    <nav id="menu" class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul id="nav-menu" class="nav navbar-nav navbar-left">
                    <li id="menu-pendentes"><a href="javascript:alterar_listagem_padrao('nao_vencidas')">Pendentes<span class="sr-only">(current)</span></a></li>
                    <li id="menu-todas"><a href="javascript:alterar_listagem_padrao('todas')">Todas<span class="sr-only">(current)</span></a></li>
                    <li id="menu-hoje"><a href="javascript:alterar_listagem_padrao('hoje')">Para hoje<span class="sr-only">(current)</span></a></li>
                    <li id="menu-concluidas"><a href="javascript:alterar_listagem_padrao('concluidas')">Concluidas<span class="sr-only">(current)</span></a></li>
                </ul>

                <button id="btn-nova-tarefa" type="button" class="btn btn-primary navbar-btn" onclick="modal_nova_tarefa()">Nova tarefa</button>
                <ul id="nav-menu" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ordenar por <span class="text-primary">data de conclusão</span><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Título</a></li>
                            <li><a href="#">Data de criação</a></li>
                            <li><a href="#">Data de vencimento</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    {% block conteudo_interno %}{% endblock %}

{% endblock %}
